= simple_form_for(item, html: {'data-behavior' => 'AjaxForm'}) do |form|
  = form.input :description, input_html: { 'data-behavior' => "Keybindings",  class: 'retro-item span11' }, hint: (link_to "x", item_path(item), class: 'remove-item span1', 'data-behavior' => 'RemoveItem')

