#workspace {
}

.hasCountdown {
  background: none;
  border: none;
  color: #fff;
}

.red {
  color: red;
  font-weight: bold;
}

.hide {
  display: none !important;
}

#timer .clock {
  float: left;
}

#workspace > div {
  form label {
    display: none;
  }

  form {
    margin: 0;

    input[type=text] {
      margin-bottom: 1px;
    }
  }


}
