#workspace {
}

#timer {
  margin: 0 0 20px 0;
}

.hide {
  display: none !important;
}

#timer .clock {
  float: left;
}

#workspace > div {
  form label {
    display: none;
  }

  form {
    margin: 0;
  }


}
