#workspace {
  width: 950px;
  margin: 20px 0;
  border: 1px solid #222;
  float: left;
}

#workspace > div {
  width: 310px;
  margin-right: 10px;
  background: #ccc;
  height: 400px;
  float: left;

  h1 {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
}

#workspace > div.last {
  margin-right: 0px !important;
}
